.cuadro {
  height: 13rem;
  width: 13rem;
  opacity: 0.6;
  transition: opacity 300ms;
}

#cuadro-1 {
  border-radius: 350px 0px 0px 0px;
}
#cuadro-2 {
  border-radius: 0px 350px 0px 0px;
}
#cuadro-3 {
  border-radius: 0px 0px 0px 350px;
}
#cuadro-4 {
  border-radius: 0px 0px 350px 0px;
}
.hover:hover {
  opacity: 1;
  transition-delay: 6ms;
  transition-duration: 40ms;
  transition-timing-function: linear;
  cursor: pointer;
}
.hover:active {
  border: 1px solid black;
}
.resaltar {
  opacity: 1;
}
.despintar {
  opacity: 0.6;
}
.comenzar {
  flex-basis: content;
}
#perdiste {
  position: absolute;
  opacity: 0;
  top: 30%;
  left: 50%;
  right: 50%;
  text-align: center;
  display: none;
  font-size: 5rem;
  letter-spacing: 40px;
}
.opacity {
  opacity: 0;
}
